@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

$font-open-sans: 'Open Sans', sans-serif;

$font-color-light: #151515;
$font-color-dark: #fff;

$theme-light: #eee;
$theme-dark: #252525;

$hover-text: #2959C8;

$logo-fontsize: 4rem;
$font-size-h3: 2.5rem;
$font-size-h2: 3.5rem;
$font-size-p: 1.2rem;
$header-font: 'Lobster', 'Open Sans', sans-serif;
*{
    margin: 0px;
    padding: 0px;
}