@import "../../Style/theme.scss";


.intro-section {
    height: 60vh;
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 45vh;
    
    
    img {
        height: 20rem;
        width: 30rem;
        background-color: #555;
        border-radius: 25px;
        
    }
    div {
        width: 100%;
        margin-left: 15vw;
        
        h3 {
            font-size: $font-size-h3;
            margin-top: 3vh;
            
        }

        p {
            font-size: $font-size-p;
            margin-top: 3vh;
        }
    }
}